venv/
pycache/
.pyc
node_modules/
dist/

.env
package.json
package-lock.json
!frontend-mobile/package.json
!frontend-mobile/package-lock.json
frontend-mobile/node_modules/
frontend-mobile/dist/
frontend-mobile/.env
backend/uploads/perfiles/
!backend/uploads/perfiles/.gitkeep

backend/logs/*
!backend/logs/.gitkeep
*.log
firebaseserviceaccount.json
serviceAccount.json



__pycache__/
*.pyc
*.pyo
*.pyd
