venv/
pycache/
.pyc
node_modules/
dist/

.env
package.json
package-lock.json
backend/uploads/perfiles/
!backend/uploads/perfiles/.gitkeep

backend/logs/*
!backend/logs/.gitkeep
*.log
firebaseserviceaccount.json
serviceAccount.json



__pycache__/
*.pyc
*.pyo
*.pyd